# EditorConfig helps developers define and maintain consistent
# coding styles between different editors and IDEs
# http://editorconfig.org

root = true

[{src,scripts}/**.{ts,json,js}]

# Change these settings to your own preference
indent_style = tab
indent_size = 4

# We recommend you to keep these unchanged
charset = utf-8
end_of_line = lf
trim_trailing_whitespace = true
insert_final_newline = true

[*.json]
indent_size = 2
indent_style = space

[*.md]
trim_trailing_whitespace = false

[*.{js,jsx,ts,tsx}]
indent_size = 2
indent_style = space
insert_final_newline = true